<h1>Editing Upload File To Server</h1>

<%= render 'form', upload_file_to_server: @upload_file_to_server %>

<%= link_to 'Show', @upload_file_to_server %> |
<%= link_to 'Back', upload_file_to_servers_path %>
